version: '2.1'

services:
  rd-professional-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmcts/rd-professional-api
    container_name: rd-professional-api
    environment:
      - JAVA_OPTS
      - POSTGRES_USERNAME=dbrefdata
      - POSTGRES_PASSWORD=dbrefdata
      - POSTGRES_HOST=rd-professional-db
      - POSTGRES_PORT=5432
      # these environment variables are used by java-logging library
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_APPENDER
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
      - S2S_URL=http://service-auth-provider-api:8080
    ports:
      - 9090:${SERVER_PORT:-8090}
    depends_on:
      - rd-professional-db
      - service-auth-provider-api

  rd-professional-db:
    build:
      context: database
    image: hmcts/rd-professional-db
    container_name: rd-professional-db
    volumes:
      - rd-professional-db-volume:/var/lib/postgresql/data

    environment:
      - POSTGRES_PASSWORD="${POSTGRES_PASSWORD:-dbrefdata}"
    ports:
      - 5428:5432

  service-auth-provider-api:
    image: hmcts/service-auth-provider-app
    container_name: service-auth-provider-api
    healthcheck:
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 8502:8080
    environment:
      JAVA_OPTS: -Xmx384m
      SERVER_PORT: 8080
      MICROSERVICEKEYS_IAC: "${IDAM_KEY_IAC}"
      TESTING_SUPPORT_ENABLED: "true"

  service-token-provider:
    image: hmcts/service-token-provider
    container_name: service-token-provider
    environment:
      - S2S_URL=http://service-auth-provider-api:8080
    ports:
      - 8089:${SERVER_PORT:-8090}
    depends_on:
      - service-auth-provider-api

volumes:
  rd-professional-db-volume: