version: '2.1'

services:
  rd-professional-api:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmcts/rd-professional-api
    container_name: rd-professional-api
    environment:
      - JAVA_OPTS= ${JAVA_OPTS}
      - POSTGRES_USERNAME=dbrefdata
      - POSTGRES_PASSWORD=dbrefdata
      - POSTGRES_HOST=rd-professional-db
      - POSTGRES_PORT=5432
      # these environment variables are used by java-logging library
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_APPENDER
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
      - S2S_URL=http://service-auth-provider-api:8080
      - S2S_SECRET=${S2S_SECRET}
    ports:
      - 8000:8000
      - ${SERVER_PORT:-8090}:${SERVER_PORT:-8090}
    depends_on:
      - rd-professional-db

  rd-professional-db:
    build:
      context: database
    image: hmcts/rd-professional-db
    container_name: rd-professional-db
    volumes:
      - rd-professional-db-volume:/var/lib/postgresql/data

    environment:
      - POSTGRES_PASSWORD="${POSTGRES_PASSWORD:-dbrefdata}"
    ports:
      - 5428:5432

  service-token-provider:
    image: hmcts/service-token-provider
    container_name: service-token-provider
    environment:
      - S2S_URL=http://service-auth-provider-api:8080
      - S2S_MICROSERVICE=rd_professional_api
      - S2S_SECRET=${S2S_SECRET}
    ports:
      - 8089:${SERVER_PORT:-8090}

volumes:
  rd-professional-db-volume:

networks:
  default:
    external:
      name: rduserprofileapi_default