java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    POSTGRES_HOST: "{{ .Release.Name }}-postgresql"
    POSTGRES_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    POSTGRES_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    POSTGRES_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
  postgresql:
    enabled: true
    postgresqlUsername: dbrefdata
    postgresqlPassword: dbrefdata
    postgresqlDatabase: dbrefdata
  keyVaults:
    rd:
      secrets:
        - s2s-secret
        - OAUTH2-CLIENT-SECRET
        - OAUTH2-CLIENT-ID
        - OAUTH2-CLIENT-AUTH