server:
  port: ${PORT:8090}

management:
  endpoints:
    jmx:
      exposure:
        include: 'health'
    web:
      base-path: "/"
  endpoint:
    health:
      show-details: "always"

spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  application:
    name: Professional Reference Data API
  jackson.date-format: yyyy-MM-dd
  flyway.enabled: true
  flyway.locations: classpath:db/migration,classpath:db/postgres
  flyway.validateOnMigrate: false

### database configuration
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5428}/${POSTGRES_NAME:dbrefdata}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${POSTGRES_USERNAME:dbrefdata}
    password: ${POSTGRES_PASSWORD:dbrefdata}
    properties:
      charSet: UTF-8
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      max-wait: 10000
      test-on-borrow: true
      test-on-connect: true
      test-on-idle: true
      validation-query: "SELECT 1"
      time-between-eviction-runs-millis: 10000
      test-while-idle: true
      test-on-return: true
      remove-abandoned: true
      remove-abandoned-timeout: 60
      log-abandoned: true
      abandon-when-percentage-full: 0

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/actuator/**"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/search/**"
    - "/csrf"
    - "/error"
    - "/favicon.ico"
  authorisedServices:
    - rd_professional_api
    - rd_user_profile_api
    - xui_webapp
    - finrem_payment_service
    - fpl_case_service
    - iac


### dependency configuration
auth.provider.service.client.baseUrl: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
idam:
  s2s-auth:
    totp_secret: ${S2S_SECRET:K6KA6PRLRFWQLSD6}
    microservice: rd_professional_api
    url: ${S2S_URL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
    pbaFromUserAccountMap: false
usermap:
    pbaFromUserAccountMap:
    - "false"


auth.idam.client.baseUrl: ${idam_url:https://idam-api.aat.platform.hmcts.net}

auth.idam.client.detailsUri: "/o/userinfo"
## Secure roles configuration
exui.role:
    hmcts-admin: prd-admin
    pui-user-manager: pui-user-manager
    pui-organisation-manager: pui-organisation-manager
    pui-finance-manager: pui-finance-manager
    pui-case-manager: pui-case-manager

prdEnumRoleType: ADMIN_ROLE,JURISD_ID
jurisdictionIdType: ADMIN_ROLE,CCD_ROLE,SIDAM_ROLE

userProfUrl: ${USER_PROFILE_URL:http://rd-user-profile-api-aat.service.core-compute-aat.internal}

ccdUrl: ${CCD_URL:http://ccd-user-profile-api-aat.service.core-compute-aat.internal}

feign:
  allow:
    headers:
      - authorization
      - serviceauthorization

defaultPageSize: ${DEFAULTPAGESIZE:10}